.app__work {
  flex: 1;
  width: 100%;
  flex-direction: column;
}

// .app__works {
// 	display: flex;
// 	justify-content: center;
// 	align-items: flex-start;
// 	flex-wrap: wrap;
// 	margin-top: 2rem;
// }
.head-text {
  margin-bottom: 15%;
}

.app__work-item {
  width: 190px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  margin: 2rem;

  @media screen and (min-width: 2000px) {
    width: 370px;
    margin: 2rem 4rem;

    .slider-container {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }

    img {
      height: 160px;
    }
  }
}
.Card_bg {
  img {
    width: 100%;
    height: 150px;
    border-radius: 15px;
    object-fit: cover;
  }
}
.slider-container {
  background: url("../../assets/bgIMG.png");
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
  margin: 5% -5%;
  overflow-x: hidden;
}

.slider {
  display: flex;
  cursor: grab;
  max-width: 100vh;
}

.Card_bg {
  // background-color: red;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  object-fit: contain;

  margin-top: 1em;
  overflow: hidden;
  position: relative;
}

.Card_bg img {
  transform: scale(1);
  transition: all 0.3s ease-out;
}

.Card_bg:hover img {
  // transform: scale(0.9) translateY(20px);
  opacity: 0.2;
}

// .Card_bg_li {
// 	position: absolute;
// 	left: -25px;
// 	bottom: 75px;
// 	width: 100%;
// 	/* padding: 15px; */
// 	text-align: center;
// 	color: #fff;
// 	padding-bottom: 1vw;
// }

.Card_bg_li {
  position: absolute;
  text-align: center;

  /////////////////////
  display: flex;
  flex-direction: column;
  // align-items: flex-end;
  // background-color: red;
  text-decoration: none;
  border-radius: 5px;
  transform: translateY(30px);
  opacity: 0;
  transition: all 0.3s ease-out;
  :hover {
    text-decoration: none;
    color: #313bac;
  }
  a {
    padding-left: 20px;
    padding-top: 20px;
    text-decoration: none;
    transform: translateY(0);
    color: grey;
    opacity: 1;
  }
}
.app__button {
  size: 12px;
}

.Card_bg:hover .Card_bg_li {
  text-decoration: none;
  transform: translateY(0);
  color: white;
  opacity: 1;
}
